.App {
  text-align: center;
  margin-top: 50px;
}

.counter-container {
  margin: 20px;
}
p {
  font-size: 16px;
  color: "#1B4242";
}
body {
  background-color: #fff78a;
}
button {
  font-size: 1.5rem;
  margin: 0 10px;
  border-radius: 10px;
  background-color: #ffc47e;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ffad84; /* Hover background color */
  cursor: pointer;
}
button:active {
  transform: scale(1.1); /* Enlarges the button when clicked */
}

.message {
  color: green;
  font-weight: bold;
  margin-top: 20px;
}
